global
  maxconn 2048
  daemon

defaults
  mode http
  timeout connect 5s
  timeout client  30s
  timeout server  30s
  option  httplog
  option  dontlognull

frontend fe_http
  bind *:80
  default_backend be_pool

backend be_pool
  balance roundrobin
  server web0 172.18.0.10:80 check
